@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    font-size: 6rem;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    padding-bottom: 15px;
}

button {
    background-color: rgb(1, 97, 255);
    border: 0px solid;
    padding: 10px;
    color: white;
}

footer {
    background-color: black
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.nav-container>div>ul,
.nav-container>* {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-container>div>ul>li>* {
    text-decoration: none;
    color: black;
}

.section-container>* {
    padding-bottom: 40px;
}

.type-account-container>* {
    padding: 20px;
}

.container-large {
    max-width: 1200px;
    margin: 0 auto;

}

header .container-large {
    position: relative;
    top: 120px;
    margin: 90px auto;
}

[class^="column-"] {
    display: flex;
    padding: 40px 0;
}

[class^="text-"] {
    flex-basis: 60%;
    position: relative;
}

.text-box>* {
    margin-bottom: 40px;
}

.arrow-icon {
    font-size: 50px;
    position: absolute;
    bottom: 35px;
}

.section-container {
    max-width: 920px;
    margin: 0 auto;
    padding: 40px 0;

}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.type-account-container {
    border: 1px solid grey;
    flex-basis: 30%;
}

.title-type {
    padding: 10px;
    border-bottom: 1px solid grey;
    text-align: center;
}

.price::before {
    content: "\20AC";
}

.border-grey {
    border: 1px solid grey;
    width: 20%;
    padding: 0px;
}

.type-account-container .border-grey {
    margin-left: 20px;
}

.list-account>* {
    display: flex;
    column-gap: 5px;
    padding-bottom: 15px;
}

.blue>li> :first-child {
    color: rgb(1, 97, 255);
}

.enterprise-container {
    display: flex;
    flex-direction: column;
}

.text-column {
    flex-basis: 70%;
    padding: 0 20px;
}

.button-column {
    flex-grow: 1;
    text-align: center;
}

.text-column>div {
    padding-top: 35px;
}

.partner {
    padding: 50px;
}

.button-white {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    color: black;
}

.card-container {
    flex-basis: calc((100% - 30px) / 3);
    padding-bottom: 50px;
}

.button-border {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: white;
    color: black;
}

.full-width {
    width: 100%;
    margin-left: 0px;
}

.faq-container {
    line-height: 70px;
    padding-top: 40px;
}

.faq-body {
    position: relative;
}

.faq-body::after {
    content: '\02795';
    font-size: 13px;
    position: absolute;
    right: 60px;
}

.footer-language>* {
    padding-top: 40px;
    color: grey;
}

.footer-text>*,
.footer-text a {
    text-decoration: none;
    color: white;
    padding-bottom: 15px;
    padding-top: 10px;
}

.text-box a,
.type-account-container a {
    color: blue;
}

.title-account>* {
    padding-bottom: 10px;
}

.title-account>div {
    color: grey;
}

[class^="img-"] {
    flex-basis: calc(100% / 3);
}

.box-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-image {
    width: 50%;
    aspect-ratio: 1/1;
}

.box-img img {
    width: 50%;
    margin: auto;
    position: relative;
    top: 100px;
    filter: invert(1);
}

.img-center {
    padding: 30px;
}

.img-center>* {
    margin-bottom: 40px;
}

.img-center img {
    width: 50%;
}