* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black
}

h1 {
    font-size: 6rem;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
}

button {
    background-color: rgb(1, 97, 255);
    border: 0px solid;
    padding: 10px;
    color: white;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.nav-container>div>ul {
    display: flex;
    gap: 15px;
    align-items: center;
}

.section-container>* {
    padding-bottom: 40px;
}

.type-account-container>* {
    padding: 20px;
}

.header-text-container {
    max-width: 1200px;
    margin: 90px auto;
    position: relative;
    top: 120px;
}

[class^="column-"] {
    display: flex;
    padding: 40px 0;
}

[class^="text-"] {
    flex-basis: 60%;
    position: relative;
}

.text-box>* {
    margin-bottom: 40px;
}

.arrow-icon {
    font-size: 50px;
    position: absolute;
    bottom: 35px;
}

.section-container {
    max-width: 920px;
    margin: 0 auto;
    padding: 40px 0;

}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.type-account-container {
    border: 1px solid grey;
    flex-basis: 30%;
}

.title-type {
    padding: 10px;
    border-bottom: 1px solid grey;
    text-align: center;
}

.price::before {
    content: "\20AC";
}

.border-grey {
    border: 1px solid grey;
    width: 20%;
    padding: 0px;
    margin-left: 20px;
}

.list-account>* {
    display: flex;
    column-gap: 5px;
    padding-bottom: 15px;
}

.blue>li> :first-child {
    color: rgb(1, 97, 255);
}

.enterprise-container {
    display: flex;
    flex-direction: column;
}

.text-column {
    flex-basis: 70%;
    padding: 0 20px;
}

.button-column {
    flex-grow: 1;
    text-align: center;
    ;
}

.text-column>h2 {
    padding-bottom: 15px;
}

.text-column>div {
    padding-top: 35px;
}

.partner {
    padding: 50px;
}

.button-white {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    color: black;
}

.card-container {
    flex-basis: calc((100% - 30px) / 3);
    padding-bottom: 50px;
}